@import "tailwindcss";
@config "../tailwind.config.js";

@layer utilities {
  .glass-panel {
    @apply bg-glass border border-glassBorder backdrop-blur-md shadow-lg rounded-xl;
  }
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
